div.container {
  padding: 2em;
  background-size: cover;
  background-position: center center;
}

div.carousel-caption {
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

div.container h1,
div.container p {
  color: black;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}
